{% extends 'base.html.twig' %}

{% block title %}Авторизация{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    {{ parent() }}
    <link href="{{ asset('css/floating-labels.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="container col-lg-12 align-content-center">
    <form class="form-signin" method="post" action="{{ path('login') }}">
        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Авторизация</h1>
        </div>

        <div class="form-label-group">
            <input type="email" id="inputEmail" class="form-control" name="_username" placeholder="Email address" required autofocus>
            <label for="inputEmail">Email address</label>
        </div>

        <div class="form-label-group">
            <input type="password" id="inputPassword" class="form-control" name="_password" placeholder="Password" required>
            <label for="inputPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <a href="{{ path('registration') }}">Регистрация</a>
    </form>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2018 Test Education, все права защищены</p>
    </footer>
</div>
{% endblock %}
